workflows/pEKGl0yjsZlqu1TQ.json
{
  "active": false,
  "connections": {
    "If8": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code14": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code15": {
      "main": [
        [
          {
            "node": "Code16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code16": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request19": {
      "main": [
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets19": {
      "main": [
        [
          {
            "node": "Code15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets20": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request20": {
      "main": [
        [
          {
            "node": "Upload a Local File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Local File1": {
      "main": [
        [
          {
            "node": "Upload a Local File11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Local File11": {
      "main": [
        [
          {
            "node": "Manual Publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Upload a Local File12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Publish1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Local File12": {
      "main": [
        [
          {
            "node": "Google Sheets20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T06:04:09.071Z",
  "id": "pEKGl0yjsZlqu1TQ",
  "meta": null,
  "name": "Thiết Bị Điện",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $json.result }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ],
      "id": "9e4aa411-c523-468e-8658-96fecf76b615",
      "name": "If8"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180554243,
          "mode": "list",
          "cachedResultName": "Thiết Bị Đồ Điện",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1180554243"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Code16').item.json[\"Link Video Tiktok\"] }}",
            "Trạng Thái Đăng": "={{ $('Loop Over Items3').item.json.ID_PAGE }}",
            "Content": "={{ $('Basic LLM Chain').item.json.text }}",
            "ID Post": "={{ $('Manual Publish1').item.json.post_id }}",
            "Link Post": "=https://www.facebook.com/{{ $('Manual Publish1').item.json.post_id }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3000,
        620
      ],
      "id": "71c07188-85b3-4a09-8b8d-c6172b372b79",
      "name": "Google Sheets9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn chỉ cần trả về đúng một đoạn content khoảng 20 từ, không giải thích, không mô tả, không thêm câu dẫn hay ký tự thừa.\nNội dung bắt buộc viết về đúng sản phẩm được đề cập trong biến:\n{{ $('If5').item.json['Content Mẫu'] }}\nKhông được phép đổi sang sản phẩm khác.\nCuối content bắt buộc gắn đúng 3 hashtag liên quan trực tiếp đến sản phẩm trong Content Mẫu.\nChỉ trả về nội dung hoàn chỉnh duy nhất."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        880,
        300
      ],
      "id": "2fbdd19d-8c40-4a0d-b55f-26e0967ae5eb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const accounts = $json.body.accounts.data;\n\nreturn accounts.map(account => {\n  return {\n    json: {\n      id: account.id,\n      name: account.name,\n      access_token: account.access_token\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        300
      ],
      "id": "d65ffda2-80b8-4d17-b615-f8bca41e0463",
      "name": "Code14"
    },
    {
      "parameters": {
        "url": "=https://tikwm.com/api/?url={{ $('If5').item.json['Link Video Tiktok'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        300
      ],
      "id": "3a874929-4255-480e-8086-981aef773439",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Kiểm tra nếu tổng số item < 10\nif (items.length < 10) {\n  const allChuaDang = items.every(item => item.json[\"Trạng Thái Đăng\"] === \"Chưa Đăng\");\n\n  if (!allChuaDang) {\n    // Trả về text \"false\" dưới dạng output item để n8n xử lý tiếp\n    return [{ json: { result: \"false\" } }];\n  }\n}\n\nreturn items; // Đủ điều kiện → trả về toàn bộ"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        300
      ],
      "id": "4baffaaf-67f8-4475-910c-48c544ed0e69",
      "name": "Code15"
    },
    {
      "parameters": {
        "jsCode": "const randomIndex = Math.floor(Math.random() * items.length);\nreturn [items[randomIndex]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "1f99b6a6-b063-446c-ad4a-3930a8f8db9a",
      "name": "Code16"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        300
      ],
      "id": "f4ae8cc9-2349-4050-8918-4c9b456b157e",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $('Code16').item.json['Link Hình Ảnh Hoặc Video'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ],
      "id": "fde8de54-c25a-4c33-92bb-9486d58a31b9",
      "name": "If5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        940,
        500
      ],
      "id": "8880452d-b195-49dd-9743-843f92c7b4cc",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b41fe3b2-0a0b-4f9d-9a60-b5d91e2d9de5",
              "name": "ID_PAGE",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "670be4d2-0d3b-4f4c-a0b3-ebb97f9d1290",
              "name": "Name_Page",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a2decf28-cc18-40b1-a2b1-43011aa7efcd",
              "name": "Access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        300
      ],
      "id": "4e74890d-8a03-4685-bf15-65b435fe58a2",
      "name": "Set3"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "accounts"
            },
            {
              "name": "access_token",
              "value": "EAATZCtLZBTiQUBPx5sgpI0sTiFXBzgDJLens1LvxHPdkL0IZBhlVSRfamJK9CqJRxs0Ah1tA1bO1bWNHU0TvtYc5YCmMadZC9nYm9Dm7bNQZBMJxF8KLwk52KiVplWlDZCcPEpP68Me0gqacAYQ5hKY4dQChnFRjqM3p4Xq8Yyms6Q41wA4cbAOIIIGvI3iTGMdcv93y1N8NDc"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -900,
        300
      ],
      "id": "f24afadc-b285-49b2-a646-9ad5442571d8",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180554243,
          "mode": "list",
          "cachedResultName": "Thiết Bị Đồ Điện",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1180554243"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái Đăng",
              "lookupValue": "=Chưa Đăng"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -60,
        300
      ],
      "id": "4e68f196-4392-4e6c-9661-4d292cf60a38",
      "name": "Google Sheets19",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180554243,
          "mode": "list",
          "cachedResultName": "Thiết Bị Đồ Điện",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1180554243"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Code16').item.json[\"Link Video Tiktok\"] }}",
            "Trạng Thái Đăng": "={{ $('Loop Over Items3').item.json.ID_PAGE }}",
            "Content": "={{ $('Basic LLM Chain').item.json.text }}",
            "ID Post": "={{ $json.body.id }}",
            "Link Post": "=https://www.facebook.com/{{ $json.body.id }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        40
      ],
      "id": "f82e65ca-0435-43bf-bf43-3ba597d3c25d",
      "name": "Google Sheets20"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 24
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 42
            },
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 35
            },
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 44
            },
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 32
            },
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 35
            },
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 22
            },
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 26
            },
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 29
            },
            {
              "triggerAtMinute": 29
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        160
      ],
      "id": "d67923fb-d735-4b97-a2fd-6d62f3d6aefe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://tikwm.com/api/?url={{ $json['Link Video Tiktok'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -60
      ],
      "id": "d5356301-b66f-42d2-a4bc-1af943f97e41",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180554243,
          "mode": "list",
          "cachedResultName": "Thiết Bị Đồ Điện",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1180554243"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Content Mẫu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        0
      ],
      "id": "35aba94a-1322-4ba6-87e9-8abe3bb43e96",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $json['Link Video Tiktok'] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5b3c452d-65b1-4285-93dd-0a71476f0fc8",
              "leftValue": "={{ $json['Trạng Thái Đăng'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        0
      ],
      "id": "32c61751-a039-406b-9044-c2ef9bee20c8",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        -60
      ],
      "id": "33a1bf1a-adfb-48ec-8d4c-2cdd1f3e2b9e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180554243,
          "mode": "list",
          "cachedResultName": "Thiết Bị Đồ Điện",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1180554243"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Loop Over Items').item.json['Link Video Tiktok'] }}",
            "Trạng Thái Đăng": "Chưa Đăng",
            "Content Mẫu": "={{ $('HTTP Request').item.json.data.title }}",
            "Link Hình Ảnh Hoặc Video": "={{ $('HTTP Request').item.json.data.play }}",
            "Dạng Nội Dung": "={{ $json.videoType }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        -60
      ],
      "id": "8d46413e-7f0f-4bce-b0ae-ebaf9523dc7b",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item đầu tiên (hoặc lặp nếu nhiều item)\nconst items = [];\n\nfor (const item of $input.all()) {\n  const duration = item.json.data?.duration;\n\n  let videoType = 'Không xác định';\n\n  if (duration > 90) {\n    videoType = 'Video Watch';\n  } else {\n    videoType = 'Video Reels';\n  }\n\n  items.push({\n    json: {\n      duration,\n      videoType,\n    }\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -60
      ],
      "id": "8f425787-d90c-4171-984d-aed092da6fef",
      "name": "Code5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('HTTP Request20').item.json.video_id }}/thumbnails",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items3').item.json.Access_token }}"
            },
            {
              "name": "is_preferred",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        620
      ],
      "id": "cf3de649-c765-4eb2-90d8-ec871f230395",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request18').item.json.data.cover }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        620
      ],
      "id": "b9b4c116-4e1a-4ae9-8a54-83da778aa497",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Loop Over Items3').item.json.ID_PAGE }}/video_reels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_phase",
              "value": "start"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items3').item.json.Access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        600
      ],
      "id": "bb18652b-bcb4-44f4-af91-e6b4357d2609",
      "name": "HTTP Request20"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request18').item.json.data.play }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        620
      ],
      "id": "8f21b67b-496f-47b6-9904-50881d367f44",
      "name": "Upload a Local File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $('Loop Over Items3').item.json.Access_token }}"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ Math.floor($binary.data.fileSize.split(\" \")[0] * 100000) }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        620
      ],
      "id": "06eab35b-06fb-4c70-8453-81a07256a230",
      "name": "Upload a Local File11"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code16').item.json['Dạng Nội Dung'] }}",
                    "rightValue": "Video Watch",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Watch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80dbf78f-8d96-4596-8340-368328ae2a32",
                    "leftValue": "={{ $('Code16').item.json['Dạng Nội Dung'] }}",
                    "rightValue": "Video Reels",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1480,
        300
      ],
      "id": "798d99fa-48be-4c90-9d84-5e56db430982",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items3').item.json.ID_PAGE }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items3').item.json.Access_token }}"
            },
            {
              "name": "video_id",
              "value": "={{ $('HTTP Request20').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "FINISH"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $('Basic LLM Chain').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        620
      ],
      "id": "d293dc8f-fed1-48ac-8f2f-51313b8af916",
      "name": "Manual Publish1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items3').item.json.ID_PAGE }}/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('HTTP Request18').item.json.data.title }}"
            },
            {
              "name": "description",
              "value": "={{ $('If5').item.json.Content }}"
            },
            {
              "name": "file_url",
              "value": "={{ $('HTTP Request18').item.json.data.play }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items3').item.json.Access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        40
      ],
      "id": "5975a4b6-3cac-4167-aa86-c3e353ec5aaf",
      "name": "Upload a Local File12"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 500);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ],
      "id": "51cd44c7-6d10-4c9a-b3f1-c00a2a4e1f7d",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "366fdfaf-f41d-4652-b0c0-2694a13ee2fb",
              "leftValue": "={{ $json.Hour }}",
              "rightValue": 21,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -920,
        0
      ],
      "id": "9111f9fd-9e90-4cae-9852-935a9e5007c8",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T06:04:09.071Z",
  "versionId": "cdeec46c-32b3-472b-adc0-055dd235e26d"
}