workflows/tf2PTBMjf2nyAHFS.json
{
  "active": false,
  "connections": {
    "Upload a Local File": {
      "main": [
        [
          {
            "node": "Google Sheets23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets23": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets24": {
      "main": [
        [
          {
            "node": "Code20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request22": {
      "main": [
        [
          {
            "node": "Code22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain12",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Basic LLM Chain12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code20": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request26": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code22": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain12": {
      "main": [
        [
          {
            "node": "HTTP Request26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Publish": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload a Local File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Local File14": {
      "main": [
        [
          {
            "node": "Manual Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Local File15": {
      "main": [
        [
          {
            "node": "Upload a Local File14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request28": {
      "main": [
        [
          {
            "node": "Upload a Local File15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-31T06:06:31.300Z",
  "id": "tf2PTBMjf2nyAHFS",
  "meta": null,
  "name": "Đăng Page Thời Trang Nữ",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items4').item.json.ID_PAGE }}/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('HTTP Request26').item.json.data.title }}"
            },
            {
              "name": "description",
              "value": "={{ $('If11').item.json.Content }}"
            },
            {
              "name": "file_url",
              "value": "={{ $('HTTP Request26').item.json.data.play }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items4').item.json.Access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        -120
      ],
      "id": "acbd32d7-121c-42e4-833f-1e40bc46cd79",
      "name": "Upload a Local File"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2147251481,
          "mode": "list",
          "cachedResultName": "Quần Áo Nữ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=2147251481"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Code').item.json[\"Link Video Tiktok\"] }}",
            "Trạng Thái Đăng": "={{ $('Loop Over Items4').item.json.ID_PAGE }}",
            "Content": "={{ $('Basic LLM Chain12').item.json.text }}",
            "ID Post": "={{ $json.body.id }}",
            "Link Post": "=https://www.facebook.com/{{ $json.body.id }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        -120
      ],
      "id": "3c6a2abc-4064-46cb-8a5b-1ed1cd89f86e",
      "name": "Google Sheets23"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2147251481,
          "mode": "list",
          "cachedResultName": "Quần Áo Nữ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=2147251481"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái Đăng",
              "lookupValue": "=Chưa Đăng"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        80
      ],
      "id": "bb245580-00da-4f8f-a13e-a5e0174335e8",
      "name": "Google Sheets24",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v20.0/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "accounts"
            },
            {
              "name": "access_token",
              "value": "EAAK1hhpisDoBOzEIQlHeaJmN6bZCnMDpq6p9tHZBcj1Xj6YzBV7suAKA4P03DEF37IzdmeCMTrSkI2sIQyhKYYqgCTiIp5yHYFcCf8KOMWRKjjuulNzZAhZAk3obZAVpZBl13bJaZCBsMOXJitmZC8dLiNeFpsutZBD6J3TdReAkXd0vnZAf0EmPjjyNwkZB9NPxDPODcKIpDzWOy6uDjUr"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        80
      ],
      "id": "f7c5ee75-7deb-4782-99ab-01e54d6faee1",
      "name": "HTTP Request22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b41fe3b2-0a0b-4f9d-9a60-b5d91e2d9de5",
              "name": "ID_PAGE",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "670be4d2-0d3b-4f4c-a0b3-ebb97f9d1290",
              "name": "Name_Page",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a2decf28-cc18-40b1-a2b1-43011aa7efcd",
              "name": "Access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        80
      ],
      "id": "7ec930e2-7337-454e-839b-24ad1cd4c69f",
      "name": "Set"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-12b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        280
      ],
      "id": "9dfe2272-7673-481b-84f8-b9aaa77b1bf9",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $('Code').item.json['Link Hình Ảnh Hoặc Video'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        80
      ],
      "id": "ce193eb7-d0ac-449e-9633-94b506e65355",
      "name": "If11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -380,
        80
      ],
      "id": "575cc6ea-118c-40bb-8d1f-77453c225bb5",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "jsCode": "const randomIndex = Math.floor(Math.random() * items.length);\nreturn [items[randomIndex]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        80
      ],
      "id": "9d0d4e45-2f93-4334-9554-97dfa1f43fa8",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Kiểm tra nếu tổng số item < 10\nif (items.length < 10) {\n  const allChuaDang = items.every(item => item.json[\"Trạng Thái Đăng\"] === \"Chưa Đăng\");\n\n  if (!allChuaDang) {\n    // Trả về text \"false\" dưới dạng output item để n8n xử lý tiếp\n    return [{ json: { result: \"false\" } }];\n  }\n}\n\nreturn items; // Đủ điều kiện → trả về toàn bộ"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        80
      ],
      "id": "51e3b9a1-dadc-4af7-8ee9-75a433010726",
      "name": "Code20"
    },
    {
      "parameters": {
        "url": "=https://tikwm.com/api/?url={{ $('If11').item.json['Link Video Tiktok'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        80
      ],
      "id": "8d510587-f408-4254-9397-3a2ebba7f5f1",
      "name": "HTTP Request26"
    },
    {
      "parameters": {
        "jsCode": "const accounts = $json.body.accounts.data;\n\nreturn accounts.map(account => {\n  return {\n    json: {\n      id: account.id,\n      name: account.name,\n      access_token: account.access_token\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        80
      ],
      "id": "a379afb7-0549-4ca4-a17c-daf76b8798e7",
      "name": "Code22"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn chỉ cần trả về đúng một đoạn content khoảng 20 từ, không giải thích, không mô tả, không thêm câu dẫn hay ký tự thừa.\nNội dung bắt buộc viết về đúng sản phẩm được đề cập trong biến:\n{{ $('If11').item.json['Content Mẫu'] }}\nKhông được phép đổi sang sản phẩm khác.\nCuối content bắt buộc gắn đúng 3 hashtag liên quan trực tiếp đến sản phẩm trong Content Mẫu.\nChỉ trả về nội dung hoàn chỉnh duy nhất."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        780,
        80
      ],
      "id": "eb883268-7714-4532-ab0d-a8a2c504c0e9",
      "name": "Basic LLM Chain12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Loop Over Items4').item.json.ID_PAGE }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items4').item.json.Access_token }}"
            },
            {
              "name": "video_id",
              "value": "={{ $('HTTP Request28').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "FINISH"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $('Basic LLM Chain12').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        340
      ],
      "id": "d80591ae-770f-43e9-b970-b9c4b6ba7097",
      "name": "Manual Publish"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json['Dạng Nội Dung'] }}",
                    "rightValue": "Video Watch",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Watch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80dbf78f-8d96-4596-8340-368328ae2a32",
                    "leftValue": "={{ $('Code').item.json['Dạng Nội Dung'] }}",
                    "rightValue": "Video Reels",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1340,
        80
      ],
      "id": "3826d3d3-8d48-4fea-a1f6-b7b1fbc33654",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2147251481,
          "mode": "list",
          "cachedResultName": "Quần Áo Nữ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=2147251481"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Code').item.json[\"Link Video Tiktok\"] }}",
            "Trạng Thái Đăng": "={{ $('Loop Over Items4').item.json.ID_PAGE }}",
            "Content": "={{ $('Basic LLM Chain12').item.json.text }}",
            "ID Post": "={{ $('Manual Publish').item.json.post_id }}",
            "Link Post": "=https://www.facebook.com/{{ $('Manual Publish').item.json.post_id }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2380,
        340
      ],
      "id": "72228aae-6965-4c55-b3d0-4c89cbe04107",
      "name": "Google Sheets13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $('Loop Over Items4').item.json.Access_token }}"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ Math.floor($binary.data.fileSize.split(\" \")[0] * 100000) }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        340
      ],
      "id": "45ce331d-c4ed-4f70-995c-9773a9bc905b",
      "name": "Upload a Local File14"
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request26').item.json.data.play }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        340
      ],
      "id": "a5585e8e-6bdf-449c-ae5f-92bd363e8286",
      "name": "Upload a Local File15",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Loop Over Items4').item.json.ID_PAGE }}/video_reels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_phase",
              "value": "start"
            },
            {
              "name": "access_token",
              "value": "={{ $('Loop Over Items4').item.json.Access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        340
      ],
      "id": "cc744185-40ec-441b-a1c3-aaa40640f6ce",
      "name": "HTTP Request28"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $json.result }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        80
      ],
      "id": "41daa972-fb07-4d29-9810-1f20090c4cc2",
      "name": "If12"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 12
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 21
            },
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 27
            },
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 33
            },
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 19
            },
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 24
            },
            {
              "triggerAtMinute": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        80
      ],
      "id": "f4d99a38-eed6-41b8-9376-eb3de549ca16",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "366fdfaf-f41d-4652-b0c0-2694a13ee2fb",
              "leftValue": "={{ $json.Hour }}",
              "rightValue": 21,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1000,
        -120
      ],
      "id": "f22f65ce-e24c-452e-9f1f-30fc738e9163",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 500);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -120
      ],
      "id": "67c5ad44-7924-4776-ad09-8a5e53bc1d0d",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy item đầu tiên (hoặc lặp nếu nhiều item)\nconst items = [];\n\nfor (const item of $input.all()) {\n  const duration = item.json.data?.duration;\n\n  let videoType = 'Không xác định';\n\n  if (duration > 90) {\n    videoType = 'Video Watch';\n  } else {\n    videoType = 'Video Reels';\n  }\n\n  items.push({\n    json: {\n      duration,\n      videoType,\n    }\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -180
      ],
      "id": "649c966a-2557-4799-b8b1-214cf0f1bb3e",
      "name": "Code5"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2147251481,
          "mode": "list",
          "cachedResultName": "Quần Áo Nữ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=2147251481"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Video Tiktok": "={{ $('Loop Over Items').item.json['Link Video Tiktok'] }}",
            "Link Hình Ảnh Hoặc Video": "={{ $('HTTP Request').item.json.data.play }}",
            "Dạng Nội Dung": "={{ $json.videoType }}",
            "Trạng Thái Đăng": "Chưa Đăng",
            "Content Mẫu": "={{ $('HTTP Request').item.json.data.title }}"
          },
          "matchingColumns": [
            "Link Video Tiktok"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        -180
      ],
      "id": "efc399fb-8c00-49d3-a836-660a9432ad7f",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -180
      ],
      "id": "29a4da2f-969c-48b9-af5b-3057afb3ec80",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "86eabee3-4d96-4788-9e85-2a4eb9ee8017",
              "leftValue": "={{ $json['Link Video Tiktok'] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5b3c452d-65b1-4285-93dd-0a71476f0fc8",
              "leftValue": "={{ $json['Trạng Thái Đăng'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        -120
      ],
      "id": "5fef2b63-e002-44f9-8694-c02cb784b8f0",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2147251481,
          "mode": "list",
          "cachedResultName": "Quần Áo Nữ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=2147251481"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Content Mẫu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        -120
      ],
      "id": "d75728dd-ef66-4b94-9398-c368b4333ac5",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "url": "=https://tikwm.com/api/?url={{ $json['Link Video Tiktok'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -180
      ],
      "id": "6ca8e942-9d87-4899-99ad-cc59a530a5e9",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T06:06:47.000Z",
  "versionId": "93e489b7-c3df-400b-a392-b8595c73579c"
}